a{
color:white;
}
a:hover{
color:orange;
text-decoration: none !important;
}
h2{
color:white
}
span{
color:orange;
}
.menuclass{
	margin-left: 35%;
}
.nav-link{
	font-style: italic;
}
.nav-link.active{
	color: orange;
}
.head-text1{
	font-style: italic;
}
.desc{
	font-family: 'Chango', cursive;
	font-size: 24px;
	padding-top: 100px;
}
.btn{
	background-color: white; 
    color: black; 
    border: 2px solid;
    background-color:#4d4dff;   
}
.banner{
	background-image: url(../img/bg1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height: 600px;
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
.banner-img{
	padding-top: 100px;
	text-align: center;
}
.head{
	font-family: 'Chango', cursive;
	color: #4d4dff
}
.dropdown-menu{
	background-color:#737373;

}
.dropdown-item{
	color: white; 
}
.dropdown-item:hover{
	color: orange; 
	background-color: #f8f9fa0a;
}
.dropdown:hover .dropdown-menu{
	display: block;
}
.head1{
	color: black;
    text-align:center;
    margin-top: 20px;
    font-weight: 900;

}
.head2{
     font-family: 'Chango', cursive;
	 color:#3B3131;
	 text-align: center;
	 margin-top: 30px;
}
.head3{
font-family: 'Chango', cursive;	
}
hr{
   border-top: 1px solid rgb(158, 141, 141);
}
.picture{
	width:400px;
	height:400px;
	 border: 1px solid #ddd;
	  border-radius: 4px;
	  padding: 5px;
}

.img1{
	width:450px;
	height:600px;
}
.footer {
      background-color:#343a40!important;
}
  .footer-head{
    	padding-top: 35px;
    	text-align: center;
    	color: orange;
    	font-style: italic;	
   }
   .right{
   	color: white;
   }
.footer-ul{
	margin-left: 58px;
}
.footer-list{
	display:block;
}
.footer-link{
    color:lightgray;
    font-weight: 500;
    padding: 5px 0px;
   font-style: italic;

	}
	.footer-link:hover{
	color:orange;
	}

.footer {
background-color:#3F3F3F;
padding: 35px 0px 26px 0px;
}

@media only screen and (max-width: 767px) {
	.img1{
    width: 342px;
    height: 600px;
}
.img{
    width: 329px;
    height: 400px;
}

	}
	@media only screen and (min-width: 768px) and (max-width: 1023px){
		.img1 {
    width: 324px;
    height: 600px;
}
	}
	@media only screen and (width: 320px) and (height: 533px){
		.img {
    width: 296px!important;
    height: 400px;
}.img1 {
    width: 297px!important;
    height: 600px;
}
	}
	.footer-desc{
		color: lightgray;
		margin-left: 55px;
		font-style: italic;	
	}
	.footer-mo{
		color: lightgray;
		margin-left: 60px;
		font-style: italic;
		margin-bottom: -30px;
	}
	.footer-mo:hover{
		color:orange;
        
	}
    .footer-head1{
    	padding-top: 35px;
    	text-align: center;
    	color: orange;
		margin-right: 80px;
		font-style: italic;	
	}